.errMsg {
    background: rgb(0, 0, 0);
    color: rgb(214, 10, 10);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.successMsg {
    background: rgb(214, 214, 214);
    color: rgb(10, 214, 10);
    text-align: center;
    padding: 10px 0px 10px 0px;
}